/* CDN GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Young+Serif&display=swap');

/* ROOT */
:root {
    /* font */
    --display: "Young Serif", serif;
    --text: "Cormorant Garamond", serif;

    /* colors */
    --main: #f9f2d9;
    --second: #FFD700;

}

/* GENERAL */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--display);
}

p,
a {
    font-family: var(--text);
}

.gold {
    color: var(--second);
}


/* ----->NAVBAR<----- */

#NavbarLineUp {
    min-height: 10vh;
    background-color: black;
}

#NavbarLineDown {
    min-height: 10vh;
    background-color: black;
    border-top: 1px solid white;
}

#avatarUser{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* ---->HEADER<------ */

header {
    height: 100vh;
    background: url("/public/media/backHeader.png");
    background-position: center;
    background-size: cover;
}

/* --->WELCOME VIEW<--- */

/* section intro */
#sectionOneIndex {
    background: url("/public/media/vintageScissor.png");
    background-position: center;
    background-size: cover;
}

.imgServices {
    object-fit: contain;
}

/* sction price Welcome*/

.borderBottomSectionPrice {
    border-bottom: 1px solid var(--main);
}

/* section reviews Welcome */

#sectionReviewsWelcome {
    height: 45vh;
    background: linear-gradient(rgba(0, 0, 0, 0.392), rgba(0, 0, 0, 0.392)), url('/public/media/backReviewsWelcome.jpg');
    background-size: cover;
    background-position: center;
}


/* ---->LOGIN VIEW<----- */

#sectionLogin{
    height: 80vh;
    background: url('/public/media/login/backSectionLogin.jpg');
    background-size: cover;
    background-position: center;
}

/* css fprm */
.formLogIn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
  }
  
  .formLogIn:hover {
    transform: scale(1.05);
    border: 1px solid black;
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }


  /* ------>RESERVATOION<------ */

  #formReservation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
  }

  .labelReservation {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  